
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>

<div *ngIf="post" class="post">
  <div class="info">
    <div class="votes">
      <button [ngStyle]="{'color': post.myVote === 'upvote' ? 'red' : 'black'}"
              (click)="vote($event, true, post.id, post.myVote)" [disabled]="!authService.isLoggedIn()">▲</button>
      {{post.votes}}
      <button [ngStyle]="{'color': post.myVote === 'downvote' ? 'blue' : 'black'}"
              (click)="vote($event, false, post.id, post.myVote)" [disabled]="!authService.isLoggedIn()">▼</button>
    </div>
    <div class="message">
      <div>
        {{'forum.posted'  | translate }}: {{post.author}}
      </div>
      <h2>
        {{post.title}}
      </h2>
    </div>
  </div>
  <div class="text">{{post.msg}}</div>
</div>
