
<div class="container">
  <div class="options">
    <button [disabled]="!authService.isLoggedIn()" (click)="create()" mat-button class="create">
      create
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only" id="loading"></span>
    </div>
  </div>
  <div class="grid">
    <div class="grid-item"
         *ngFor="let product of products"
         [ngStyle]="
         product.price < 100 ? { background: 'var(--normal)' } :
         product.price < 500 ? { background: 'var(--rare)' } :
         { background: 'var(--epic)' }">
      <div class="grid-item-data rarity-normal">
        <div class="grid-item-title"
             [ngStyle]="
         product.price < 100 ? { background: 'var(--title-normal)' } :
         product.price < 500 ? { background: 'var(--title-rare)' } :
         { background: 'var(--title-epic)' }"
        >
          {{product.title}}
        </div>
        <div class="grid-item-owner">
          {{ 'store.seller' | translate}}: {{product.seller}}
        </div>
        <div style="margin-left: 5px">
          {{ 'store.cost' | translate}}: {{product.price}}
        </div>
        <div style="display: flex">
          <button [disabled]="!authService.isLoggedIn()"
                  (click)="makeOffer(product.id, product.price)"
                  class="grid-item-button" mat-flat-button>
            {{ 'store.bid' | translate}}
          </button>
<!--          <div *ngIf="ran()" class="grid-item-top">-->
<!--&lt;!&ndash;            <p>&ndash;&gt;-->
<!--              <i class="star"></i>-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--          </div>-->
        </div>
        <div class="grid-item-img">
          <img *ngIf="product.file" [src]="image(product.file)" alt="image">
        </div>
      </div>
    </div>
  </div>
</div>
