.create {
  background-color: #73AD21;
  width: fit-content;
}

.create:hover {
  color: #f3e1d5;
}

#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3e1d5;
  border-radius: 50%;
  border-top: 16px solid orange;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

.options {
}

.container {
  margin: 15px;
  /*background-color: white;*/
  margin-left: 100px;
}

.grid {
  margin-top: 20px;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px 50px;
  /*grid-template-columns: auto auto auto;*/
}

.grid-item {
  //background-color: ;
  //border: 1px solid #a14004;
  border-radius: 5px;
  padding: 5px;

  &-data {
    width: 200px;
    background-color: #f3e1d5;
    border-radius: 3px;
  }

  &-title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &-owner {
    //text-align: center;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
  }

  &-top {
    border-radius: 5px;
    border: gold 2px solid;
    background-color: #e8e776;
    font-size: 12px;
    line-height: 20px;
    padding: 0px;
    //padding-right: 4px;
    //padding-left: 4px;
    margin: 5px;
    margin-top: 1px;
    margin-left: 0;
    //margin-bottom: 3px;
    //padding-bottom: 1px;
  }

  &-img {
    //border: #f1e6e6 solid 1px;
    width: 200px;
    height: 200px;
    background-color: aliceblue;
  }

  &-button {
    margin: 5px;
    margin-top: 1px;
    border-radius: 5px;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 12px;
    line-height: 20px;
    background-color: #d1d7cf;
  }

  &-button:hover {
    background-color: #b4b2b2;
  }
}

.star {
  position: relative;

  display: inline-block;
  width: 0;
  height: 0;

  margin-left: 1.4em;
  margin-right: 1.4em;
  margin-bottom: .6em;
  //margin-top: 1px;
  //margin-bottom: 4px;

  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 10px;

  &:before, &:after {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: .6em;
    left: -1em;

    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;

    transform: rotate(-35deg);
  }

  &:after {
    transform: rotate(35deg);
  }
}
