
.navbar {

  display: inline;
  width: 100%;
  background-color: #853f0b;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;

  &-left {
    float:left;
    height: inherit;
    display: flex;
    align-items: center;
  }

  &-item {
    border: 1px solid transparent;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition-duration: 0.3s;

  }

  &-item:hover {
    border-color: #692e08;
    //background-color: #ffffff;
  }

  &-right {
    //right: 10%;
    margin-right: 5%;
    float:right;
    height: inherit;
    display: flex;
    align-items: center;
  }
}

.search {
  &-form {
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
 }

  &-input {
   margin-left: 10px;
   padding: 10px;
   width: 300px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   outline: none;
   border: none;
 }

  &-button {
   outline: none;
   background: #b53f3f;
   border: 1px solid #b53f3f;
   padding: 10px;
   border-left: 1px solid rgba(0, 0, 0, 0.3);
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   color: #fff;
   font-weight: 700;
   transition-duration: 0.3s;
   cursor: pointer;

    &:hover {
   color: #b53f3f;
   background-color: #fff;
   border: 1px solid #b53f3f;
 }
}
}

.user-info {
  border-radius: 5px;
  border: 2px solid #73AD21;
  display: flex;

  background-color: #73AD21;
  transition-duration: 0.3s;
  cursor: pointer;
  color: #000000;
  font-weight: 500;

  &:hover {
    color: white;
  }

  &-picture {
    border-radius: 3px;
    width: 35px;
    height: 35px;
    //display: inline-block;
    background-color: #eed9d9;
  }

  &-name {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    //background-color: #4aa84c;
    //display: inline-block;
  }

  &-username {
    height: 15px;
    font-size: 17px;
  }

  &-coins {
    height: 5px;
    //padding-bottom: 2px;
    //background-color: #4aa84c;
    font-size: 11px;
  }
}

.login {
  background-color: #73AD21;
  color: black;
}

.login:hover {
  color: #f3e1d5;
  //border: 1px solid #b53f3f;
}

.logo {
  //margin-left: 10px;
  margin: 10px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.logo-big {

  border-radius: 25px;
  background: #73AD21;
  padding: 10px;
  width: 200px;
  height: 150px;

  //margin-left: 10px;
  margin: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
