<div class="navbar">
  <div class="navbar-left">
    <div>
      <span class="logo-big" routerLink="/">UBEMED.EE</span>
    </div>
    <div class="navbar-item">
      <span class="logo" routerLink="/calculator">{{ 'search-bar.calculator' | translate }}</span>
    </div>
    <div class="navbar-item">
      <mat-button class="logo" [matMenuTriggerFor]="menu">{{'search-bar.events' | translate }}</mat-button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let champion of events" (click)="onClickEvent(champion.value)">{{champion.viewValue}}</button>
      </mat-menu>
    </div>
    <div class="navbar-item">
      <span class="logo" routerLink="/forum">{{ 'search-bar.forum' | translate }}</span>
    </div>
    <div class="navbar-item">
      <span class="logo" routerLink="/store">{{ 'search-bar.store' | translate }}</span>
    </div>
    <div>
      <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input class="search-input"
               name="search"
               ngModel
               placeholder="{{ 'search-bar.placeholder' | translate }}"
        />
        <button class="search-button">{{ 'search-bar.search' | translate }}</button>
      </form>
    </div>
  </div>
  <div class="navbar-right">
    <div *ngIf="!service.isLoggedIn()">
      <button mat-button
              class="login"
              (click)="openDialog()">{{ 'search-bar.login'| translate }}</button>
    </div>
    <div *ngIf="service.isLoggedIn()"
         class="user-info"
         [matMenuTriggerFor]="settings">
      <div class="user-info-picture"></div>
      <div class="user-info-name">
        <div class="user-info-username">
          {{service.tokenName(service.getToken())}}
        </div>
        <div class="user-info-coins">
          Coins: {{service.getCoins()}}
        </div>
      </div>
    </div>
    <mat-menu #settings="matMenu">
      <button (click)="logout()" mat-menu-item>Logout</button>
      <button routerLink="/inventory" mat-menu-item>{{ 'search-bar.inventory' | translate }}</button>
      <button (click)="claim()" [disabled]="!canClaim()" mat-menu-item>Claim</button>
    </mat-menu>
  </div>
</div>
