<div>
  <div *ngIf="showLogIn">
    <mat-dialog-content>login</mat-dialog-content>
    <form [formGroup]="login" (ngSubmit)="submitLogin()">
      <table>
        <tr>
          <td>
            <mat-form-field class="w-100p" appearance="outline">
              <input matInput formControlName="username"/>
              <mat-error *ngIf="hasError('username', 'required')">
                {{ 'calculator.required' | translate }}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="w-100p" appearance="outline">
              <input matInput type="password" formControlName="password"/>
              <mat-error *ngIf="hasError('password', 'required')">
                {{ 'calculator.required' | translate }}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-error *ngIf="wrongPass">wrong name or pass</mat-error>
      <button [disabled]="login.invalid">login</button>
    </form>
    <button (click)="showLogIn=false">register</button>
  </div>
  <div *ngIf="!showLogIn">
    <mat-dialog-content>register</mat-dialog-content>
    <form [formGroup]="register" (ngSubmit)="submitRegister()">
      <table>
        <tr>
          <td>
            <mat-form-field class="w-100p" appearance="outline">
              <mat-label>{{ 'calculator.champion' | translate }}</mat-label>
              <input matInput formControlName="username"/>
              <mat-error *ngIf="hasError('username', 'required')">
                {{ 'calculator.required' | translate }}
              </mat-error>
              <mat-error *ngIf="!success">taken</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="w-100p" appearance="outline">
              <mat-label>{{ 'calculator.champion' | translate }}</mat-label>
              <input matInput type="password" formControlName="password"/>
              <mat-error *ngIf="hasError('password', 'required')">
                {{ 'calculator.required' | translate }}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="w-100p" appearance="outline">
              <mat-label>{{ 'calculator.champion' | translate }}</mat-label>
              <input matInput type="password" formControlName="password2"/>
              <mat-error *ngIf="match(register)">
                must be same
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <button mat-button [disabled]="register.invalid || match(register)">register</button>
    <button mat-button (click)="showLogIn=true">login</button>
  </div>
</div>
