.post {
  background-color: #f3e1d5;
  border-radius: 16px;
  padding: 16px;
  margin: 50px;
  width: 550px;
  display: inline-block;
}

.w-100p {
  width: 100%;
}

.text {
  display:inline;
  height:400px;
  font-size:14pt;
}

td {
  padding-right: 1em;
}
