.container {
  margin-left: 5%;
  margin-top: 15px;
}

.info {
  background-color: #ada621;
  min-width: 300px;
  width: min(95%, 500px);
  height: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;

  &-stats {
    display: inline-block;
    width:100px;
  }

  &-time {
    display: inline-block;
    width:100px;
  }

  &-top {
    display: inline-block;
    width:100px;
  }
}

.spinner {
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: teal;
  position: relative;
  min-width: 300px;
  width: min(95%, 500px);
  height: 100px;
  overflow: hidden;

  @keyframes spin-wheel {
    from {left: 500px;}
    to {left: -100px * 20;}
  }

  &-container {
    //background-color: #b53f3f;
    //height: 75px;
    width: 100px * 25;
    position: relative;
    animation: spin-wheel 3s;
    animation-fill-mode: forwards;
  }

  &-knob {
    z-index: 5;
    position: absolute;
    left: 250px;
    //left: 50%;
    height: 25px;
    border: 1px solid black;
  }

  &-item {
    float:left;
    width: 100px;
    height: 100px;
    //top: 15px;
    //left: 120px;
    background-color: maroon;
    border-radius: 50px;
    overflow: hidden;

    //&-image {
    //  width: 100px;
    //  height: 100px;
    //  background-color: #d0baba;
    //}
    //
    &-text {
      height: 10px;
      width: 100px;
      position: absolute;
      top: 45px;
      //background: yellow;
      text-align: center;
    }
  }
}

.players {
  border: antiquewhite 1px solid;
  min-width: 300px;
  width: min(95%, 500px);
}