<div class="container">

    {{value}}
    {{seconds}}
    <div *ngIf="seconds == 0 && winner">
        winner: {{winner.name}} {{winner.value}}
    </div>
    <div *ngIf="seconds <= 5 && seconds > 0">
        spin {{seconds}}
    </div>

<!--    <div class="wheel">-->
<!--        <div class="wheel-item" *ngFor="let o of get()">-->
<!--            {{o.name}} {{o.value}} {{percent(o.value)}}%-->
<!--        </div>-->
<!--    </div>-->

    <div class="wheel">
        <div class="marquee">
            <div class="marquee--inner">
                <div class="orb" *ngFor="let o of randomList">
                    {{o.name}}
                </div>
                <div class="orb" *ngFor="let o of randomList">
                    {{o.name}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only" id="loading"></span>
    </div>
</div>

<div class="test" *ngFor="let o of randomList">
    {{o.name}}
</div>

<!--<div class="wheel2">-->
<!--    <div class="wheel2-container">-->
<!--        <div class="wheel2-item" *ngFor="let o of randomList">-->
<!--            {{o.name}}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
