<div class="container">
    <div class="info">
        <div class="info-time">
            Time: {{seconds}}s
        </div>
        <div class="info-stats">
            Total: {{totalValue}}
        </div>
        <div class="info-top">
            Top:
            <div *ngIf="topPlayer" style="display: inline">
                {{topPlayer.user.name}} {{topPlayer.value}}
            </div>
        </div>
    </div>
    <div class="spinner">
        <div class="spinner-knob"></div>
        <div *ngIf="spinner.length > 0" id="spinner-container" class="spinner-container">
            <div class="spinner-item" *ngFor="let o of spinner">
                <div class="spinner-item-text">
                    {{o.user.name}}
                </div>
            </div>
        </div>
<!--        <div class="spinner-item" *ngFor="let o of playerList">-->
<!--            <div class="spinner-item-image">-->
<!--            </div>-->
<!--            <div class="spinner-item-text">-->
<!--                {{o.name}}-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="players">
        <div *ngFor="let o of getPlayers()">
            <div>{{o.user.name}} {{o.value}}</div>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only" id="loading"></span>
    </div>
</div>

