<div class="create">
  <form [formGroup]="shop" (ngSubmit)="submit()">
    <mat-chip-list [multiple]="true" [selectable]="true">
      <mat-chip *ngFor="let category of categories" #chip="matChip"
                (click)="category.selected ? chip.deselect() : chip.selectViaInteraction()"
                [selected]="category.selected" [selectable]="true"
                (selectionChange)="changeSelected($event, category)">
        {{category.name | translate}}
      </mat-chip>
    </mat-chip-list>
    <table>
      <tr>
        <td>
          <mat-form-field class="title" appearance="outline">
            <mat-label>{{ 'store.new.title' | translate }}</mat-label>
            <input matInput formControlName="title"/>
            <mat-error *ngIf="hasError('title', 'required')">
              {{ 'store.new.required' | translate }}
            </mat-error>
            <mat-error *ngIf="hasError('title', 'maxlength')">
              {{ 'store.new.maxLength' | translate: { value: title } }}
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="cost" appearance="outline">
            <mat-label>{{ 'store.new.cost.name' | translate }}</mat-label>
            <input type="number" matInput formControlName="cost"/>
            <mat-error *ngIf="hasError('cost', 'required')">
              {{ 'store.new.required' | translate }}
            </mat-error>
            <mat-error *ngIf="hasError('cost', 'min')">
              {{ 'store.new.cost.min' | translate }}
            </mat-error>
            <mat-error *ngIf="hasError('cost', 'max')">
              {{ 'store.new.cost.max' | translate: { value: maxCost } }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <div class="image-container" *ngIf="filePath && filePath !== '' && shop.get('file')!.value">
          <img [src]="filePath" [alt]="shop.value.name">
        </div>
      </tr>
      <tr>
        <td style="display: flex">
          <label for="files" class="mat-raised-button btn">
            {{ 'store.new.select' | translate }}
          </label>
          <div class="image-warning">
            {{ 'store.new.warning' | translate: { value: imageMaxSize } }}
          </div>
        </td>
        <td>
          <input id="files" style="background-color: #73AD21; visibility:hidden;" type="file" accept="image/*" (change)="imagePreview($event)" />
        </td>
      </tr>
    </table>
    <div style="margin-top: 10px; margin-left: 2px">
      <button mat-raised-button [disabled]="shop.invalid">{{ 'store.new.create' | translate }}</button>
      <mat-error *ngIf="showError">
        {{ 'store.new.error' | translate }}
      </mat-error>
    </div>
  </form>
  <div>
  </div>
</div>
