.create {
  background-color: #f3e1d5;
  border-radius: 5px;
  padding: 16px;
  margin: 50px;
  width: 700px;
  display: inline-block;
}

.cat-options {
  border: 2px solid #000000;
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
}

.title {
  width: 500px;
}

.cost{
  width: 150px;
}

.image-container {
  /*background-color: #4CAF50;*/
  border: 1px solid #000000;
  width: 200px;
  height: 200px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.btn {
  border: 1px solid #f3e1d5;
}

.btn:hover {
  border: 1px solid #000000;
}

.image-warning {
  background-color: #ffff00;
  border: orange 1px solid;
  border-radius: 3px;
  margin: 4px;
  margin-left: 20px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}
