<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>
<div class="container">
  <div class="grid">
    <div class="grid-item hvr-grow-shadow"
         *ngFor="let product of products"
         (click)="click(product)">
      <div class="grid-item-title">
        {{product.title}}
      </div>
      <div class="grid-item-img">
        <img *ngIf="product.file" [src]="image(product.file)" alt="image" height="100" width="100">
      </div>
      <div class="grid-item-price">
        <div class="grid-item-icon">
          <mat-icon>payments</mat-icon>
          <div class="grid-item-icon-text">
            {{product.price}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stats" id="stats">
  <div *ngIf="product">
    <img *ngIf="product.file" [src]="image(product.file)" alt="image" height="200" width="200">
    <div class="stats-graph">stats</div>

    <form [formGroup]="sellItem" (ngSubmit)="sell(product.id)">
      <mat-form-field class="cost" appearance="outline">
        <mat-label>{{ 'store.new.cost.name' | translate }}</mat-label>
        <input type="number" matInput formControlName="amount"/>
        <mat-error *ngIf="hasError('amount', 'required')">
          req
        </mat-error>
        <mat-error *ngIf="hasError('amount', 'min')">
          min
        </mat-error>
        <mat-error *ngIf="hasError('amount', 'max')">
          max
        </mat-error>
      </mat-form-field>
      <div style="margin-top: 10px; margin-left: 2px">
        <button mat-raised-button [disabled]="sellItem.invalid">{{ 'store.new.create' | translate }}</button>
      </div>
    </form>
  </div>
</div>
