@keyframes move {
  to {
    left: 500px;
    width: fit-content;
    height: fit-content;
  }
}

.stats {
  float: left;
  margin-top: 15px;
  background-color: white;
  margin-left: 30px;

  border-radius: 10px;
  box-shadow: 0 5px 10px;
  transition-duration: 0s;
  opacity: 0;
  padding: 5px;
  width: 0;
  height: 0;
  //overflow: hidden;

  &-move {
    transition: width 1s, height 1s;
    overflow: hidden;
    opacity: 1;
    //z-index: 0;
    //left: 800px;
    //width: 240px;
    width: 300px;
    //height: 300px;
    height: 275px;
  }

  &-container {
    overflow: hidden;
    border-radius: 5px;
    background-color: #331906;
    flex: auto;
    padding: 15px;
  }

  &-graph {
    margin-top: 15px;
    background-color: papayawhip;
    //height: 50px;
    width: 200px;
  }
}

.container {

  //display: inline-block;
  float: left;
  margin-top: 15px;
  background-color: white;
  margin-left: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 10px;
  padding: 5px;
  //width: 50%;
  width: fit-content;
}

.grid {
  //width: fit-content;
  min-height: 176px;
  min-width: 620px;

  border-radius: 5px;
  background-color: #331906;
  display: inline-grid;
  //background-color: yellow;
  //margin-top: 20px;
  //display: block;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 15px 15px;
  padding: 15px;
}

.grid-item {
  background-color: #dc7815;
  border: 3px solid #ffffff;
  border-radius: 5px;
  width: 106px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &-img {

  }

  &-title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-price {
    text-align: center;
  }
}

img {
  vertical-align: bottom;
}
