<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>
<div class="container">
  <div class="inner-container">
    <div class="grid">
      <div class="grid-item" *ngFor="let product of products">
        <div class="grid-item-title">
          {{product.title}}
        </div>
        <div class="grid-item-img">
          <img *ngIf="product.file" [src]="image(product.file)" alt="image" height="100" width="100">
        </div>
        <div class="grid-item-price">
          {{product.price}}
        </div>
      </div>
    </div>
  </div>
</div>
