@keyframes move {
  to {
    left: 500px;
    width: fit-content;
    height: fit-content;
  }
}

.stats {
  float: left;
  margin-top: 15px;
  margin-left: 30px;
  box-shadow: 0 5px 10px;

  transition-duration: 0s;
  opacity: 0;
  width: 0;
  height: 0;

  background-color: var(--white);
  border-radius: 10px;
  border: 5px white solid;
  padding: 20px;

  &-move {
    transition: width 1s, height 1s;
    overflow: hidden;
    opacity: 1;
    //z-index: 0;
    //left: 800px;
    width: 250px;
    height: 450px;
  }

  //&-container {
  //  overflow: hidden;
  //  border-radius: 5px;
  //  background-color: #331906;
  //  flex: auto;
  //  padding: 15px;
  //}

  //&-graph {
  //  margin-top: 15px;
  //  background-color: papayawhip;
  //  //height: 50px;
  //  width: 200px;
  //}
}

.container {
  margin-top: 15px;
  margin-left: 100px;
}

/* Grow Shadow */
.hvr-grow-shadow {
  //display: inline-block;
  //vertical-align: middle;
  //-webkit-transform: translateZ(0);
  //transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  border-color: yellow;
  //border-color: black;
}

.grid {
  box-shadow: 0 5px 10px;
  display: inline-grid;
  float:left;

  max-width: 60%;
  min-width: 146px;
  min-height: 186px;
  grid-template-columns: repeat(auto-fit, minmax(106px, 1fr));
  grid-gap: 20px 20px;

  background-color: #332c2c;
  //background-color: #b47d47;
  border-radius: 5px;
  border: 5px white solid;
  padding: 20px;
}

.grid-item {
  background-color: #dc7815;
  border: 3px solid white;
  border-radius: 5px;
  width: 106px;
  height: fit-content;

  &-img {

  }

  &-title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-icon {
    margin-left: 5px;
    font-size: 20px;
    display: flex;
    height: 24px;

    &-text {
      margin-top: 2px;
      margin-left: 5px;
      white-space: nowrap;
      font-size: 14px;
    }
  }

  &-price {
    text-align: center;
  }
}

img {
  vertical-align: bottom;
}
