body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #d27b23;
  padding-top: 60px;
  height: 100%;
}

body * {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #73AD21;
  --white: #f3e1d5;

  --title-epic: #eea5d9;
  --title-rare: #7bd38b;
  --title-normal: #ebebf8;
  --normal: #afa9a9;
  --rare: #4aa84c;
  --epic: #e84ee8;
}

